IndentWidth: 4
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
PackConstructorInitializers: Never
AllowShortFunctionsOnASingleLine: Empty
