BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: Never
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BinPackParameters: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakString: 500
PenaltyExcessCharacter: 10
AlwaysBreakAfterReturnType: None