name: C/C++ CI

on:
  push:
  pull_request:

  workflow_dispatch:

jobs:
  Ubuntu:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-multilib expect valgrind qemu-user

      - name: Create build
        run: |
          cd src_files
          make CXX=g++ EXE=../bin/astra

      - name: Check valgrind
        if: github.event_name == 'push'
        run: |
          cd bin
          valgrind --error-exitcode=1 ./astra bench

      - name: Check bench matches commit message
        if: github.event_name == 'push'
        run: |
          cd bin
          commit_bench=$(git show --summary | grep -o "bench: [0-9]*" | awk '{ print $NF }')
          ./astra bench > bench.txt
          actual_bench=$(grep -i OVERALL: bench.txt | awk -F'[^0-9]+' '{ print $2 }')
          if [[ "$actual_bench" != "$commit_bench" ]]; then
            echo "Incorrect bench, got '$actual_bench' expected '$commit_bench'" && exit 1
          fi

  Windows:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v2

      - uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          install: mingw-w64-x86_64-gcc make git

      - name: Add compiler to $PATH env
        shell: bash
        run: echo "PATH=$PATH:/c/msys64/mingw64/bin" >> $GITHUB_ENV

      - name: Create build
        shell: msys2 {0}
        run: |
          cd src_files
          make CXX=g++ EXE=../bin/astra

      - name: Check bench matches commit message
        if: github.event_name == 'push'
        shell: msys2 {0}
        run: |
          cd ../bin
          commit_bench=$(git show --summary | grep -o "bench: [0-9]*" | awk '{ print $NF }')
          ./astra bench > bench.txt
          actual_bench=$(grep -i OVERALL: bench.txt | awk -F'[^0-9]+' '{ print $2 }')
          if [[ "$actual_bench" != "$commit_bench" ]]; then
            echo "Incorrect bench, got '$actual_bench' expected '$commit_bench'" && exit 1
          fi
